.page-header {
  position: fixed;
  z-index: 110;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 59px;
  background: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.159392);
}

.page-header__logo-link {
  position: absolute;
  top: 17px;
  left: 21px;
  display: block;
  z-index: 120;
}

.page-header__search {
  position: relative;
  width: 168px;
  height: 100%;
  padding-top: 18px;
  padding-left: 20px;
  margin-right: 69px;
  background-color: #ffffff;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.20287);

  &::after {
    position: absolute;
    top: -1px;
    right: -42px;
    content: "";
    width: 0px;
    height: 0px;
    border: 30px solid transparent;
    border-left: 12px solid #ffffff;
  }
}

.page-header__search-button {
  width: 80px;
  height: 25px;
  margin-left: 51px;
  padding-left: 25px;
  border: none;
  color: #2b2b2b;
  text-transform: uppercase;
  background-color: transparent;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: left 1px top 2px;;
  background-size: 22.5%;
}

.page-header__new-action-button {
  width: 42px;
  height: 42px;
  margin-top: 9px;
  background: url("../img/circle.svg") center no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

.page-header__notifications-button {
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 17px;
  margin-right: 45px;
  background: url("../img/bell.svg") center no-repeat;
  cursor: pointer;

  &:hover::after,
  &:focus::after {
    transform: scale(1.2);
  }

  &::after {
    content: "2";
    position: absolute;
    width: 13px;
    height: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: -3px;
    right: -5px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #ffffff;
    background-color: #e54d4d;
    border: 2px solid #37AEC1;
    border-radius: 50%;
  }
}

.page-header__vendor-name {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 17px;
  padding-left: 27px;
  padding-top: 2px;
  margin-top: 15px;
  color: #ffffff;
  text-transform: uppercase;
  background: url("../img/house.svg") left center no-repeat;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 1px;
    top: 8px;
    background-color: #ffffff;
    border-radius: 90px;
  }

  &::before {
    right: 19px;
    transform: rotate(45deg);
  }

  &::after {
    right: 16px;
    transform: rotate(-45deg);
  }
}

.page-header__right-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 310px;
  margin-left: auto;
}
