.payment-order {
  display: flex;
  flex-direction: column;
  width: 70.3%;
  min-width: 900px;
  height: 100%;
  margin-top: 59px;
  margin-left: auto;
  background-color: #ffffff;
  box-shadow: -8px 0 25px rgba(49, 68, 93, 0.23112);

  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.payment-order__header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 70.3%;
  min-width: 900px;
  height: 60px;
  padding: 0 30px;
  background-color: #f8f8f8;
}

.payment-order__content {
  flex-grow: 1;
  margin-top: 44px;
  margin-bottom: 60px;
  padding-bottom: 25px;
}

.payment-order__close-button {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    top: 8px;
    left: 0;
    background-color: #2b2b2b;
    border-radius: 90px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.payment-order__title {
  align-self: flex-start;
  margin: 15px 0 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #2b2b2b;
}

.payment-order__details {
  width: 545px;
  margin-left: 19.8%;
  margin-bottom: 16px;
}

.payment-order__recipient {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 545px;
  min-height: 192px;
  margin-left: 20.4%;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.390682), 0px 3px 10px rgba(0, 0, 0, 0.0869282);
}

.payment-order__purpose {
  width: 545px;
  margin: 0;
  margin-left: 20.4%;
  margin-bottom: 20px;
  padding: 20px 24px 20px 30px;
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;
  background: #f2f2f2;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.239102), 0px 4px 15px rgba(0, 0, 0, 0.0869282), 0px 2px 3px rgba(0, 0, 0, 0.0651891);
}

.payment-order__commission {
  width: 545px;
  padding: 1px 0 0 1px;
  margin: 0;
  margin-left: 20.4%;

  & p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
  }
}

.payment-order__footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 70.3%;
  min-width: 900px;
  height: 60px;
  padding-left: 14.4%;
  padding-right: 10%;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.239102), 0px 0px 15px rgba(0, 0, 0, 0.0869282);

  @media (max-width: $tablet-width) {
    position: absolute;
  }
}
